@import "../../../Telemed-template/base/vars";

#header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $color-white;
  border-bottom: 1px solid $border-color;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 100;

  #menu-icon {
    cursor: pointer;
    font-size: 1.2rem;
  }

  .user-icon-container {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-purple;
    border-radius: 50%;
    cursor: pointer;
  }
}
