@import '../../Telemed-template/base/vars';

.select-type-page {
    min-height: 100vh;
    .select-type-box {
        .select-container {
            border: 1px solid $color-purple;
            border-radius: 15px;
            overflow: hidden;
            perspective: 1px;
            cursor: pointer;
            .character-image {
                max-width: 400px;
                width: 100%;
                height: auto;
                border-bottom: 1px solid $color-purple;
            }
        }
    }
}

// responsive design

@media screen and (min-width: 2000px) {
    .select-type-page {
        justify-content: center;
    }
}