@import '../../Telemed-template/base/vars';

.reset-password-page {
    min-height: 100vh;
    .logo-telemed {
        height: auto;
        width: 100%;
        max-width: 200px;
    }

    .reset-password-box {
        .group-input {
            border: 1px solid $color-purple;
            .rs-input-group-addon {
                background-color: $color-yellow;
                & > svg {
                    color: $color-white;
                }
            }
        }
    }
}

// responsive design

@media screen and (min-width: 2000px) {
    .reset-password-page {
        justify-content: center;
    }
}