@import '../../Telemed-template/base/vars';

.reset-password-page {
    .logo-telemed {
        height: auto;
        width: 100%;
        max-width: 200px;
    }

    .reset-password-box {
        .group-input {
            border: 1px solid $color-purple;
            .rs-input-group-addon {
                background-color: $color-yellow;
                & > svg {
                    color: $color-white;
                }
            }
        }
    }
}