@import "./Telemed-template/components/index";
@import "./Telemed-template/components/containers";
@import "./Telemed-template/base/helpers";
@import "./Telemed-template/base/vars";

.Telemed-App {
    // min-height: 100vh;
}

.form-control:focus {
    border-color: $color-yellow !important;
    outline: 0;
    box-shadow: 0 0 0 0.1rem $color-yellow !important;
}

input, .group-input {
    border-radius: 6px;
}