.doctor-homepage {
    min-height: 80vh;

    .doctor-homepage-icon {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .underlined-description {
        text-decoration: underline;
    }
}